body {
    background-color: #036d5b;
}

/*
    absolute
*/
#logoCoeur {
    position: absolute;
    width: 5%;
    top: 20px;
    position: fixed;
}

#logoCarreau {
    position: absolute;
    width: 5%;
    right: 20px;
    bottom: 20px;
    position: fixed;
}

#logoPique {
    position: absolute;
    width: 5%;
    right: 20px;
    top: 20px;
    position: fixed;
}

#logoTrefle {
    position: absolute;
    width: 5%;
    bottom: 20px;
    position: fixed;
}




h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 3vw;
    text-shadow: 2px 2px 2px black;
}

.row {
    display: flex;
}

#top {
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
}

#top div {
    width: 80px;
    border-radius: 10px;
}

.invisible{
    display: none;
}

#top img {
    width: 100%;
}

.fundation {
    background-color: #359F8D;
}

.fundation img{
    border-radius: 10px;
}

#pique{
    background-image : url('../image/fundationPique.png');
    background-size: contain;
    position: relative;
}

#pique img{
    margin-top : 0px;
}

#coeur{
    background-image : url('../image/fundationCoeur.png');
    background-size: contain;
    position: relative;
}

#coeur img{
    margin-top : 0px;
}

#carreau{
    background-image : url('../image/fundationCarreau.png');
    background-size: contain;
    position: relative;   
}

#carreau img{
    margin-top : 0px;
}

#trefle{
    background-image : url('../image/fundationTrefle.png');
    background-size: contain;
    position: relative;
}

#trefle img{
    margin-top : 0px;
}

#hiddenFace {
    background-color: #359F8D;
}

#hiddenFace img{
    border-radius: 10px;
}

#visibleFace {
    background-color: #359F8D;
    position: relative;
}

#column {
    margin-top: 30px;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
}

#column div {
    width: 80px;
    position: relative;
    margin-left: 10px;
}

#column div:last-child {
    margin-right: 10px;
}


#column img {
    width: 100%;
}